@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Font style  */
body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles  */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    color: rgb(65, 25, 25);
}


/* Header styles */


/* Nav-bar Releated styles */
.navbar{
    justify-content: space-between;
     width: auto;
    margin: 0 auto;
    align-items: center;

}
.navbar h3{
    margin-left: 240px;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-iteam{
    list-style: none;
}
.nav-link {
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(66, 66, 66);
}
.nav-links{
    margin-right: 240px;
    margin-top: 60x;
}
.nav-links a:hover{
    color: rgb(221, 37, 37);
}

.banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-image{
    width:100%;
}

/* team section start  */

.team-section-container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid tomato; */
    width: 85%;
    margin: 0 auto;
    height: 710px;
    margin-top: 85px;
    display: flex;
    flex-direction: row;
}
.team-section-image-container{
    width: 684px;
    height: 710px;
    /* border: 2px solid yellowgreen; */
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 24px;

}
.team-section-image-container img{
    height: 340px;
    width: 340px;
}

.team-section-content{
    margin-left: 60px;
    margin-top: 170px;
}
.team-section-content h3{
    font-weight: 700;
    font-size: 2.8rem;
}
#quick-list{
    color: rgb(114, 114, 114);
    font-weight: 500;
}
#features{
    color: rgb(255, 144, 14);
}
.team-section-content p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-top: 24px;
    flex-wrap: wrap;
}
.team-section-content button{
    margin-top: 32px;
}
















/* Media Query */

@media screen and (max-width:576px) {
    .navbar , .nav-links{
        flex-direction: column;
    }
    .navbar h3{
        margin-left: 25px;
        margin-right: 20px;
    }
    .nav-links{
        margin-right: 0px;
        margin-top: 30x;
        gap: 8px;
    }
    .banner-content{
        width:100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .banner-content p{
        margin-left: 10px;
        margin-right: 10px;
    }
    .team-section-container{
        flex-direction: column;
        margin: 20px;
    }
    .team-section-image-container{
        grid-template-columns: repeat( 1 ,1fr);
        width: 100%;
        margin-left: 10px;
    }
    .team-section-image-container img{
        width:100%;
    }
    .team-section-content{
       
        margin-top:730px;
    }
    

}